<div class="socials">
  <div class="social-button">
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <img src="/assets/twitter.svg" alt="Twitter">
    </a>
  </div>
  <div class="social-button">
    <a href="https://www.facebook.com/{{ site.facebook_username }}">
      <img src="/assets/facebook.svg" alt="Facebook">
    </a>
  </div>
  <div class="social-button">
    <a href="https://www.instagram.com/{{ site.instagram_username }}">
      <img src="/assets/instagram.svg" alt="Instagram">
    </a>
  </div>
  <div class="social-button">
    <a href="https://medium.com/@{{ site.medium_username }}">
      <img src="/assets/medium.svg" alt="Medium"/>
    </a>
  </div>
</div>
